@charset "UTF8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;/*garantindo que vai ocupar a altura total da tela*/
}

main { 
   /**/background-color: white;
    text-align: center;

    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.352);

    /* Pra ficar responsivo */
    margin: 20px;
    padding: 20px;
    width: 90%;/* isso é pra ocupar 90% da tela em celulares pequenos*/
}

article > img {
    background-color: rgba(38, 87, 103, 0.767);
    padding: 40px 60px 40px 60px;
    border-radius: 10px;

    max-width: 100%;/*Isso é pra imagem nao sair do container*/
    height: auto;
}

h2{
    font-weight: bold;
    color: #2c3e50;
    margin-top: 25px;
}

p{
    color: #7f8c8d;
    font-size: 0.9em;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
}

